@-moz-document url-prefix("https://steemit.com") {

body {
  background: #32393e;
  color: #EFEFEF;
}

.PostSummary {
  background: transparent;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
}

.PostSummary__footer {
  font-size: smaller;
}

.Header .header {
  background: #32393e; 
  border-bottom-color: #222;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.Header__top ul > li.delim {
  color: #222;
}

.Header .menu {
  background-color: #32393e;
  color: #fff;
}


.VerticalMenu > li > a {
  color: #fff;
}

.VerticalMenu > li > a:hover {
  color: #000;
}

.Header__top-steemit a {
  color: #fff;
}

.DropdownMenu > .VerticalMenu {
  border-color: #000;
  border-radius: 0;
}

.Topics__filter input, input {
  border-color: #999;
  background: #23282B;
  color: #efefef;
}

.Topics__filter input:focus, input:focus {
  background: #131618;
}

.PostsIndex__topics {
  border-color: #222;
}

.PostsIndex__topics {
  color: #ececec;
}

.PostSummary__image {
  border-radius: 5px;
}

.Header__userpic img {
  border: 1px solid #3c3c3c;
}

a,.PostSummary__header > h1 > a {
  color: #eacc49; 
}

a:focus, a:hover {
  color: #fff;
}

.button {
  background-color: #eacc49;
  color: #222;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.button.hollow.secondary {
  border-color: #999;
  color: #999;
}

.button.hollow.secondary:hover {
  border-color: #fff;
  color: #fff;
}

.PostSummary__header > h1 > a:visited {
  color: #886F00;
}

.button.hollow {
  border: 1px solid #eacc49;
  color: #eacc49;
}  

.button.hollow:hover {
  border: 1px solid #fff;
  color: #fff;
}  

.PostSummary__body {
  color: #efefef; 
}

.SidePanel > div {
  background-color: #111;
} 

.SidePanel > div .menu > li > a {
  color: #fff;
  border-top: 1px solid #000;
}  

.SidePanel .menu > li.last {
  border-bottom: solid 5px #222;
}  

.Voting__button path {
  fill: #fff;
}

.Header .menu .hamburger::after {
  background: #999;
  box-shadow: 0 7px #999,0 14px 0 #999;
  top: -3px;
}

.Voting__inner,
.PostSummary__time_author_category,
.VotesAndComments__votes {
  border-right: 1px solid #222;
}

.dropdown-pane {
  background-color: #23282B;
  border: 1px solid #000;
}

.Comment__header-user {
  color: #999;
}

.DropdownMenu > .VerticalMenu {
  background-color: #23282B;
}

.reveal {
  border: 3px solid rgba(0,0,0,0.3);
  background-color: #222;
}

label {
  color: #999;
}

[type="color"], 
[type="date"], 
[type="datetime-local"], 
[type="datetime"], 
[type="email"], 
[type="month"], 
[type="number"], 
[type="password"], 
[type="search"], 
[type="tel"], 
[type="text"], 
[type="time"], 
[type="url"], 
[type="week"], 
textarea {
  border: 1px solid #999;
  background-color: #23282B;
  box-shadow: 0 0 5px #cacaca;
  color: #efefef;
}

[type="color"]:focus, 
[type="date"]:focus, 
[type="datetime-local"]:focus, 
[type="datetime"]:focus, 
[type="email"]:focus, 
[type="month"]:focus, 
[type="number"]:focus, 
[type="password"]:focus, 
[type="search"]:focus, 
[type="tel"]:focus, 
[type="text"]:focus, 
[type="time"]:focus, 
[type="url"]:focus, 
[type="week"]:focus, 
textarea:focus {
  background-color: #131618;
}

.ReplyEditor__body > div {
  background: none;
}

.ReplyEditor button {
  background: #eacc49;
  color: #333;
}

.ReplyEditor button:hover {
  background: #efefef;
}

.ReplyEditor__body.rte {
  border: 1px solid #222;
}

.UserProfile__top-nav .menu > li > a.active {
  color: #efefef;
}

.hoverBackground:hover {
  color: #000;
}

.VerticalMenu > li.title {
  border-bottom-color: #000;
  background: #111;
}

.TagList__horizontal a {
  background: #141719;
}

.Market__ticker li b {
  border-right: 1px solid #000;
  background: #222;
}

.Market__ticker li {
  border: 1px solid #222;
}

.highcharts-background {
  display: none;  
}

table tfoot, table thead, table tbody {
  background: none;
  color: inherit;
  border: none;
  border-bottom: solid 1px #222;
}

table tbody tr:nth-child(2n) {
  background: #23282B;
}

.highcharts-grid, .highcharts-axis {
  opacity: 0.2;
}
 
span[style='background-color: rgb(243, 243, 243); font-family: "Inconsolata","Menlo","Consolas",monospace; font-size: 16px; padding: 2px;'] {
  background:#000;
}

}